---
import { App } from "../ui/Swiper/App.jsx";

const response = await fetch(
	"https://us-east4.gcp.data.mongodb-api.com/app/home-ybjtf/endpoint/210"
);
const data = await response.json();
---

<section class="min-h-screen">
	<App
		client:visible
		href1="#"
		img1={data.slider_productos[0].imagen}
		title1={data.slider_productos[0].nombre}
		description1={data.slider_productos[0].precio}
		href2="#"
		img2={data.slider_productos[1].imagen}
		title2={data.slider_productos[1].nombre}
		description2={data.slider_productos[1].precio}
		href3="#"
		img3={data.slider_productos[2].imagen}
		title3={data.slider_productos[2].nombre}
		description3={data.slider_productos[2].precio}
		href4="#"
		img4={data.slider_productos[3].imagen}
		title4={data.slider_productos[3].nombre}
		description4={data.slider_productos[3].precio}
	/>
</section>
