---
const response = await fetch(
	"https://us-east4.gcp.data.mongodb-api.com/app/home-ybjtf/endpoint/210"
);
const data = await response.json();
---

<section class="flex items-center">
	<div class="flex flex-col text-center">
		<p
			class="text-4xl my-2 md:text-7xl uppercase whitespace-nowrap font-black m-auto text-center w-full">
			{data.nombre}
		</p>
		<p class="text-xl font-semibold">
			{data.direccion}
		</p>
	</div>

	<article
		class="flex items-start md:items-center justify-evenly flex-col w-full p-5">
		<div
			class="flex flex-col md:flex-row items-start gap-5 md:gap-10 flex-wrap">
			<ul class="">
				<h3 class="uppercase text-3xl">tbv</h3>
				<li class="md:py-3 hover:underline">
					<a href="/smashburgers">Burgers</a>
				</li>
				<li class="md:py-3 hover:underline">
					<a href="/fries">Fries</a>
				</li>
				<li class="md:py-3 hover:underline">
					<a href={data.tienda_url}>Hacer pedido</a>
				</li>
			</ul>

			<ul class="">
				<h3 class="uppercase text-3xl">contacto</h3>
				<li class="md:py-3 hover:underline">
					<a type="phone" href={`tel:${data.phone}`}>Teléfono</a>
				</li>
				<li class="md:py-3 hover:underline">
					<a
						target="_blank"
						href={`https://wa.me/${data.whatsapp.numero}`}
						>Whatsapp</a
					>
				</li>
				<li class="md:py-3 hover:underline">
					<a
						href={`https://www.instagram.com/${data.redes_sociales[0].instagram.slice(1)}`}
						target="_blank">Instagram</a
					>
				</li>
			</ul>

			<ul class="">
				<h3 class="uppercase text-3xl">legal</h3>
				<li class="md:py-3 hover:underline">
					<a href="#">Política de privacidad</a>
				</li>
				<li class="md:py-3 hover:underline">
					<a href="#">Aviso Legal</a>
				</li>
				<li class="md:py-3 hover:underline">
					<a href="#">Política de cookies</a>
				</li>
			</ul>
		</div>
		<a target="_blank" href="#" class="hover:underline mt-5"
			>2024 © TBV - THE BURGER VILAS
		</a>
	</article>
</section>

<style>
	@media (max-width: 1150px) {
		section {
			flex-direction: column;
		}
		article {
			width: 100%;
		}
	}
</style>
