---
import AppHeader from "../components/ui/AppHeader.astro";
import Layout from "../layouts/Layout.astro";
import Slider from "../components/ui/Slider.astro";
import { App } from "../components/ui/Swiper/App.jsx";

import FooterSection from "../components/sections/FooterSection.astro";
import Instagram from "../components/sections/Instagram.astro";

const response = await fetch(
	"https://us-east4.gcp.data.mongodb-api.com/app/home-ybjtf/endpoint/210"
);
const data = await response.json();
---

<Layout title="Nuestras Smash Burgers ðŸ”">
	<section>
		<AppHeader />
		<div class="pt-24">
			<Slider text="tbv" text2="smashburgers" />
		</div>
		<App
			href1="#"
			img1={data.slider_productos[0].imagen}
			title1={data.slider_productos[0].nombre}
			price1={data.slider_productos[0].precio}
			href2="#"
			img2={data.slider_productos[1].imagen}
			title2={data.slider_productos[1].nombre}
			price2={data.slider_productos[1].precio}
			href3="#"
			img3={data.slider_productos[2].imagen}
			title3={data.slider_productos[2].nombre}
			price3={data.slider_productos[2].precio}
			href4="#"
			img4={data.slider_productos[3].imagen}
			title4={data.slider_productos[3].nombre}
			price4={data.slider_productos[3].precio}
			client:visible
		/>
		<hr />
		<App
			href1="#"
			img1={data.slider_productos[0].imagen}
			title1={data.slider_productos[0].nombre}
			price1={data.slider_productos[0].precio}
			href2="#"
			img2={data.slider_productos[1].imagen}
			title2={data.slider_productos[1].nombre}
			price2={data.slider_productos[1].precio}
			href3="#"
			img3={data.slider_productos[2].imagen}
			title3={data.slider_productos[2].nombre}
			price3={data.slider_productos[2].precio}
			href4="#"
			img4={data.slider_productos[3].imagen}
			title4={data.slider_productos[3].nombre}
			price4={data.slider_productos[3].precio}
			client:visible
		/>
		<Instagram />
		<FooterSection />
	</section>
</Layout>

<style>
	hr {
		border: 1px solid #000;
		width: 100%;
		margin: 0 auto;
	}
</style>
