---
import tvb from "../../img/tvb.png";
import favorita from "../../img/favorita.png";

const response = await fetch(
	"https://us-east4.gcp.data.mongodb-api.com/app/home-ybjtf/endpoint/210"
);
const data = await response.json();
---

<header class="shadow-sm  z-50 w-full " id="top">
	<h1 class="">
		<a
			href="/"
			class="hover:scale-105 transition flex items-center justify-center">
			<img src={tvb.src} alt="logo" class="max-w-[150px]" />
			<img
				src={favorita.src}
				class="max-w-[125px] -translate-y-2"
				alt=""
			/>
		</a>
	</h1>
	<nav>
		<li>
			<a class="a" href="#smashburgers">
				<span class="hover-animation">smashburgers</span></a
			>
		</li>

		<li>
			<a class="a" href="#fries">
				<span class="hover-animation">tbv fries</span></a
			>
		</li>

		<li>
			<a class="a" href="#know-us">
				<span class="hover-animation">conócenos</span>
			</a>
		</li>
		<li>
			<a
				target="_blank"
				href={data.tienda_url}
				class="uppercase text-nowrap bg-[red] text-[--white] hover:bg-red-600 transition py-2 px-4 inline-block">
				hacer pedido
			</a>
		</li>
		<!-- <li>
			<a class="a" href="/faqs">
				<span class="hover-animation">faqs</span>
			</a>
		</li> -->
	</nav>
	<!-- <span class="my-auto flex gap-2">
			<a
				href={`https://www.instagram.com/${data.redes_sociales[0].instagram.slice(1)}`}
				target="_blank">
				<img
					src={instagram.src}
					alt="instagram logo"
					class="hover:scale-105 transition my-auto"
				/>
			</a>
			<a target="_blank" href={`https://wa.me/${data.whatsapp.numero}`}>
				<img
					src={whatsapp.src}
					alt="instagram logo"
					class="hover:scale-105 transition my-auto"
				/></a
			>
		</span> -->
</header>

<style>
	header {
		width: 100%;
		position: sticky;
		z-index: 20;
		display: flex;
		justify-content: space-between;
		margin: auto;
		padding: 1rem;
	}

	nav {
		display: flex;
		align-items: center;
	}

	nav li {
		list-style: none;
		font-size: 1rem;
		padding-inline: 0.5rem;
	}
	li .a {
		color: black;
		text-decoration: none;
		margin-inline: 1rem;
		text-transform: uppercase;
		text-wrap: nowrap;
	}
	h1 {
		margin: auto 0;
		transition: all 0.3s ease-in-out;
	}

	/* hover animaation */
	.a {
		border: none;
		background: none;
		cursor: pointer;
	}

	.hover-animation {
		position: relative;
		color: black;
		padding-bottom: 0px;
	}

	.hover-animation:after {
		content: "";
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 0.1rem;
		bottom: 0;
		left: 0;
		background-color: #000000;
		transform-origin: bottom right;
		transition: transform 0.25s ease-out;
	}

	.a:hover .hover-animation:after {
		transform: scaleX(1);
		transform-origin: bottom left;
	}

	/* hover animaation */
	@media (max-width: 768px) {
		header {
			display: none;
		}
	}
</style>
