---
import { Image } from "astro:assets";
import img from "../../img/burger-hero.jpg";
import img2 from "../../img/burger-hero2.jpg";
import img3 from "../../img/burger-hero3.jpg";
import img4 from "../../img/burger-hero4.jpg";
import img5 from "../../img/burger-hero5.jpg";
---

<section
	class="grid grid-cols-1 xl:grid-cols-2 h-screen bg-[--white3] border-b border-[black]">
	<article class="flex flex-col m-auto">
		<div class="max-w-[75%] mx-auto pt-10 md:pt-0 h-full">
			<h2
				class="text-5xl md:text-[6vw] uppercase text-black leading-[0.9] font-semibold">
				HACEMOS REAL BURGERS PARA REAL MOMENTS.
			</h2>

			<a
				class="text-3xl md:text-[2vw] uppercase hover:underline"
				href="#">
				CONOCE NUESTRAS BURGERS
			</a>
		</div>
	</article>
	<article>
		<div class="container">
			<Image class="photo" src={img} alt=`image of ${img}` />
			<Image class="photo" src={img2} alt=`image of ${img2}` />
			<Image class="photo" src={img3} alt=`image of ${img3}` />
			<Image class="photo" src={img4} alt=`image of ${img4}` />
			<Image class="photo" src={img5} alt=`image of ${img5}` />
		</div>
	</article>
</section>

<style>
	/* Define variables */
	:root {
		--slides: 5;
		--time-per-slide: 5s;
		--total-animation-time: calc(var(--slides) * var(--time-per-slide));
	}

	/* Styles */

	.container {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
	}

	.photo {
		position: absolute;
		animation: round var(--total-animation-time) infinite;
		opacity: 0;
	}

	@keyframes round {
		25% {
			opacity: 1;
		}
		40% {
			opacity: 0;
		}
	}

	/* Set animation delays for each image */
	.container img:nth-child(1) {
		animation-delay: calc(
			var(--total-animation-time) - var(--time-per-slide) * 1
		);
	}

	.container img:nth-child(2) {
		animation-delay: calc(
			var(--total-animation-time) - var(--time-per-slide) * 2
		);
	}

	.container img:nth-child(3) {
		animation-delay: calc(
			var(--total-animation-time) - var(--time-per-slide) * 3
		);
	}

	.container img:nth-child(4) {
		animation-delay: calc(
			var(--total-animation-time) - var(--time-per-slide) * 4
		);
	}
</style>
