---
import openBurger from "../../icons/openBurger.svg";
import closeBurger from "../../icons/close.svg";
import instagram from "../../icons/instagram.svg";
import logo from "../../img/tvb.png";

const response = await fetch(
	"https://us-east4.gcp.data.mongodb-api.com/app/home-ybjtf/endpoint/210"
);
const data = await response.json();
---

<dialog class="bg-[#ccc]">
	<section>
		<nav>
			<li>
				<form method="dialog">
					<button class="burger-btn">
						<img
							src={closeBurger.src}
							alt="close button"
							class="close-btn"
						/>
					</button>
				</form>
			</li>
			<li>
				<a class="max-w-56" href="/">
					<img src={data.logo_url} alt="logo " />
				</a>
			</li>
			<li>
				<a class="a" href="/smashburgers">
					<span class="hover-animation">smashburgers</span></a
				>
			</li>
			<li>
				<a class="a" href="/fries">
					<span class="hover-animation">tbv fries</span></a
				>
			</li>

			<li>
				<a class="a" href="/know-us">
					<span class="hover-animation">conócenos</span>
				</a>
			</li>
			<li>
				<a
					target="_blank"
					href="https://www.mercadolibre.com"
					class="uppercase text-nowrap text-white bg-[red] hover:bg-red-600 transition py-2 px-4 inline-block">
					hacer pedido
				</a>
			</li>
			<li>
				<a class="a" href="/faqs">
					<span class="hover-animation">faqs</span>
				</a>
			</li>
		</nav>
		<span class="mx-auto inline-block w-full">
			<a href="https://www.instagram.com/">
				<img
					src={instagram.src}
					alt="instagram logo"
					class="hover:rotate-180 hover:scale-115 transition mx-auto"
				/>
			</a>
		</span>
	</section>
</dialog>

<section class="fixed h-[75px] w-full flex justify-between px-2 z-50" id="section-burger">
	<button
		class="burger-btn"
		onclick="document.querySelector('dialog').showModal()">
		<img src={openBurger.src} alt="open image" class="openBtn" />
	</button>
	<img src={logo.src} class="max-w-[100px] object-contain" alt="logo image" />
</section>
<style>
	#section-burger {
		background-color: rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(10px) saturate(180%);
	}
	section li {
		list-style: none;
		margin-block: 0.75rem;
		margin-block: 0.75rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	li a {
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 800;
		font-size: 1.5rem;
		transition: all 0.3s ease;
	}
	li a:hover {
		transform: scale(1.1);
	}
	nav {
		width: 100%;
	}

	.logo-image {
		width: 50px;
		height: auto;
		transform: rotate(-10deg);
	}

	/*   IS-OPEN STATE   */
	dialog[open] {
		translate: 0 0;
	}

	/*   EXIT STATE   */
	dialog {
		transition:
			translate 0.7s ease-out,
			overlay 0.7s ease-out,
			display 0.7s ease-out allow-discrete;
		translate: 0 -100vh;
		height: 100%;
		width: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		font-size: 1rem;

		/* other styles */
		z-index: 30;
		width: 100%;
		height: 100vh;
		outline: 2rem solid #ccc;
		box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.7);
	}
	.burger-btn {
		background-color: transparent;
		border: none;
		cursor: pointer;
		margin-block: auto;
	}
	.burger-btn img {
		width: 50px;
	}

	/*   0. BEFORE-OPEN STATE   */
	@starting-style {
		dialog[open] {
			translate: 0 -100vh;
		}
	}

	/* Etc */

	@media (min-width: 1150px) {
		section {
			display: none;
		}
	}
</style>
