---
interface Slider {
	text: string;
	text2: string;
	style: string;
}
const { text, text2 } = Astro.props;
---

<article class="text-5xl md:text-[6vw] overflow-hidden">
	<div class="slider-container hidden md:block">
		<p class="mx-4 tracking-wide font-bold uppercase flex text-nowrap">
			<span class="empty-text">{text}</span>
			{"·"}{text2}
		</p>
		<span class=""> / </span>
		<p class="mx-4 tracking-wide font-bold uppercase flex text-nowrap">
			<span class="empty-text">{text}</span>
			{"·"}{text2}
		</p>
		<span class=""> / </span>
		<p class="mx-4 tracking-wide font-bold uppercase flex text-nowrap">
			<span class="empty-text">{text}</span>
			{"·"}{text2}
		</p>
		<span class=""> / </span>
		<p class="mx-4 tracking-wide font-bold uppercase flex text-nowrap">
			<span class="empty-text">{text}</span>
			{"·"}{text2}
		</p>
		<span class=""> / </span>
		<p class="mx-4 tracking-wide font-bold uppercase flex text-nowrap">
			<span class="empty-text">{text}</span>
			{"·"}{text2}
		</p>
		<span class=""> / </span>
		<p class="mx-4 tracking-wide font-bold uppercase flex text-nowrap">
			<span class="empty-text">{text}</span>
			{"·"}{text2}
		</p>
		<span class=""> / </span>
		<p class="mx-4 tracking-wide font-bold uppercase flex text-nowrap">
			<span class="empty-text">{text}</span>
			{"·"}{text2}
		</p>
		<span class=""> / </span>
		<p class="mx-4 tracking-wide font-bold uppercase flex text-nowrap">
			<span class="empty-text">{text}</span>
			{"·"}{text2}
		</p>
		<span class=""> / </span>
		<p class="mx-4 tracking-wide font-bold uppercase flex text-nowrap">
			<span class="empty-text">{text}</span>
			{"·"}{text2}
		</p>
		<span class=""> / </span>
		<p class="mx-4 tracking-wide font-bold uppercase flex text-nowrap">
			<span class="empty-text">{text}</span>
			{"·"}{text2}
		</p>
		<span class=""> / </span>
		<p class="mx-4 tracking-wide font-bold uppercase flex text-nowrap">
			<span class="empty-text">{text}</span>
			{"·"}{text2}
		</p>
		<span class=""> / </span>
		<p class="mx-4 tracking-wide font-bold uppercase flex text-nowrap">
			<span class="empty-text">{text}</span>
			{"·"}{text2}
		</p>
		<span class=""> / </span>
	</div>
</article>

<style>
	article {
		font-family: "LeagueGothic";
	}
	div {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		animation: slide 6000s linear infinite;
	}

	@keyframes slide {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-500%);
		}
	}

	.empty-text {
		/* color: rgba(0, 0, 0, 0); 
		-webkit-text-stroke: 1px var(--black); 
		text-stroke-width: 1px;  */
	}
</style>
